#images-3d{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
	/*background-color: black;*/
}
#images-3d:hover{
	animation-play-state: paused;
}
#images-3d figure{
	display: block;
	position: absolute;
	width: 186px;
	height: 116px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	border: solid 2px black;
	border-radius: 5px;
}
#images-3d figure:nth-child(1) { transform: rotateY(0deg) translateZ(288px);}
#images-3d figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#images-3d figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#images-3d figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#images-3d figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#images-3d figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#images-3d figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#images-3d figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#images-3d figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

/*img{
	-webkit-filter: grayscale(1);
	cursor: pointer;
	transition: all .5s ease;
}
img:hover{
	-webkit-filter: grayscale(0);
  transform: scale(1.2,1.2);
}*/

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}